<!-- this div has been commented here and put in her-details
<div *ngIf="selectedHero">
<h2>{{ selectedHero.name | uppercase }} Details</h2>
<div><span>id: </span>{{selectedHero.id}}</div>
<div>
  <label>name:
    <input [(ngModel)]="selectedHero.name" placeholder="name">
  </label>
  <label>id:
    <input [(ngModel)]="selectedHero.id" placeholder="id" number>
  </label>
</div>
</div>
-->

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes1" > <!--[class.selected]="hero === selectedHero" (click)="onSelect(hero)"> // Removed as routes added-->
    <a routerLink="/detail/{{hero.id}}">
    <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>

<!-- <button class="deselector" (click)="Deselect()" >Deselect</button> //removed when links added.
  <app-hero-details [hero1]="selectedHero"></app-hero-details> //Removed to display on clicking hero-->